.wd-left-element {
  float: right;
}

.wd-reset {
  clear: both;
}

.fa, .fab {
  float: left;
}

.d-none {
  font-size: 11px;
}

#text-box {
  width: 80%;
  border: none;
  outline: none;
  background-color: transparent;
}

#gear-image {
  width: 20px;
  height: 20px;
}

#search-bar {
  height: 40px;
  border-radius: 50px;
  border: 1px solid;
}

.nav-item {
  font-size: 11px;
}

.btn-primary.override-bs {
  border-radius: 50px;
  min-width: 67px;
  width: 100%
}

#image-container {
  position: relative;
}

.wd-topic {
  color: darkgray;
  font-size: 10px;
}

.wd-title {
  font-size: 11px;
  font-weight: bold;
}

.wd-regular-text {
  font-size: 11px;
  font-weight: bold;
}

.wd-suggested {
  align-items: center
}

.wd-image-feed {
  height: 90px;
  width: 90px;
  border-radius: 25px;
  float: right;
}

.wd-right-element {
  width: 70%;
}

.wd-table-head {
  font-size: 15px;
  font-weight: bold;
}

.wd-profile-avatar {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  float: left;
}

.btn-primary.override-bs2 {
  border-radius: 50px;
  float: right;
  margin-left: -100%;
}

.wd-float-left {
  float: left;
}